.app-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    color: white;
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
}

.sidebar-logo {
    width: 2.4rem;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.graph-container {
    background-color: #ffffff;
    height: 95vh;
}

.header {
    color: #ffffff;
    padding: 0.5rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.header-nav {
    display: flex;
    gap: 16px;
}

.header-button {
    background-color: #005f56;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content {
    padding: 16px;
}

.card {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 256px;
    display: flex;
}

.card-title {
    color: #333;
    font-weight: 600;
}

.context-menu {
    margin-left: auto;
    height: 1.2rem;
}