@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: fadeIn 0.3s ease-out;
}

.popup-content {
    background-color: #fff;
    border-radius: 8px;
    /* padding: 20px; */
    width: 100%;
    max-width: 500px;
    /* height: 75vh; */
    /* overflow-y: auto; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.popup-body {
    /* flex-grow: 1; */
    padding: 20px;
    max-height: 65vh;
    overflow-y: auto;
    /* margin: 1rem 0; */
  }

.popup-header {
    flex-shrink: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 0;
    background-color: #f0f0f0;
    border-radius: 8px 8px 0px 0px;
  }

.popup-footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  /* background-color: #f0f0f0; */
  border-radius: 0px 0px 8px 8px;
  padding: 1rem;
}

.popup h3 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.popup ul {
    list-style: none;
    padding-left: 0;
    background: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.popup ul h3 {
    font-size: 16px;
    margin: 0;
    padding: 10px;
    /* border-bottom: 1px solid #ddd; */
}

.popup ul li {
    padding: 10px;
}

.popup .search-box {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup .search-box input {
    padding: 8px;
    width: 85%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.popup .search-box button {
    padding: 8px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.popup .search-box button:hover {
    background-color: #0056b3;
}

.popup .equipment-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.popup .equipment-table th,
.popup .equipment-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.popup ul li:hover,
.popup .equipment-table tr:hover {
    cursor: pointer;
    background-color: #daecf073;
}

.popup .equipment-table th {
    background-color: #f7f7f7;
}

.popup .add-button {
    /* margin: 0px 20px; */
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.popup .add-button:hover {
    background-color: #218838;
}

.popup-close {
    font-size: 24px;
    position: absolute;
    top: -2rem;
    right: 0;
    color: #ddd;
    background: none;
    border: none;
    cursor: pointer;
}

.popup-close:hover {
    color: #aaa;
}

.selected {
    background-color: #cde6eb;
}

.smart-suggestions-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }
  
  .toggle-container {
    display: inline-block;
    position: relative;
  }
  
  .toggle-label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .toggle-button {
    padding: 4px 8px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 4px;
  }
  